.footer {
	margin-top: 100px;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	box-shadow: 0 5px 200px rgba(0, 0, 0, 0.2);
}

.footer-logo {
	width: 120px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-nav {
	display: flex;
	list-style: none;
}

.footer-nav-item {
	margin: 0 5px;
}

.footer-nav-item a {
	color: #1870c9;
}

.footer-nav-link {
	cursor: pointer ;
}